body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: block;
    margin: 
    width: 70%;height: auto;
    background-color: black;
    box-shadow: 10px 10px 10px 10px;border-color: black;
}
header h1{
    text-align: center;
    font-size: 80px;
    color: white;
}
header h2{
    text-align: center;
    font-size: 50px;
    color: white;
}
.menu{
    display: flex;
    color: white;
  
   
    
}
.menu ul{
    display: flex;
   list-style: none;
    margin: auto;
   
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    margin-left: 20px;
    
   
}
a:hover{
     pointer-events:;
     background-color: red;
    }
    a{
        color: white;
        font-size: 25px;
    }
    h1{
        color: white;
        font-size: 40px;
        text-align: center;
    }
.posts{
display: flex;


}
.post1,.post2{
    display: flow-root;
background-color: black;
width: 40%;height: auto;
h2{font-size: 30px;}
p{font-size: 20px;}
a{font-size: 20 px;}
margin: auto;


}
footer{
    display: block;
    width: 100%;height: auto;
    background-color: black;

}
h2{
    text-align: center;
    font-size: 40px;
    color: white;
}

.news,.news1{
    display: flow-root;
    background-color: black;
    margin-bottom: 30px;
    opacity: 0.8;
   
}
p{
    text-align: justify;
    font-size: 30px;
    color:white;
}
ul{
    display: block;
    color: white;
    font-size: 25px;
}
footer p{
    color: white;
    text-align: center;
}
